<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyprice.ElectricityPriceStructureRuleCustomMapper">
    <sql id="Base_Column_List">
        id, structure_id, structure_rule_id, industries, strategies, voltage_levels, state,
        create_time, update_time
    </sql>
    <insert id="insertElectricityPriceStructureRule" useGeneratedKeys="true" keyProperty="id">
        insert into electricity_price_structure_rule (structure_id, structure_rule_id, industries,
                                                      strategies, voltage_levels, state,
                                                      create_time, update_time)
        values (#{structureId,jdbcType=VARCHAR}, #{structureRuleId,jdbcType=VARCHAR}, #{industries,jdbcType=VARCHAR},
                #{strategies,jdbcType=VARCHAR}, #{voltageLevels,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="batchDeleteStructureRuleByIds">
        DELETE FROM electricity_price_structure_rule
        set state=#{state},update_time=#{updateTime}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <update id="updateStructureRule">
        update electricity_price_structure_rule set
        <if test="industries!=null">
            industries=#{industries,jdbcType=VARCHAR},
        </if>
        <if test="strategies!=null">
            strategies=#{strategies,jdbcType=VARCHAR},
        </if>
        <if test="voltageLevels!=null">
            voltage_levels=#{voltageLevels,jdbcType=VARCHAR},
        </if>
        <if test="updateTime!=null">
            update_time=#{updateTime,jdbcType=TIMESTAMP},
        </if>
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
        </where>
    </update>

    <select id="queryElectricityPriceRulesByStructureRule"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructureRule">
        select
        <include refid="Base_Column_List" />
        from electricity_price_structure_rule
        where state=0 and  structure_rule_id in
        <foreach collection="structureRuleIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="queryElectricityPriceRulesByCondition" parameterType="map"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructureRule">
        select
        <include refid="Base_Column_List" />
        from electricity_price_structure_rule
        where state=#{state}
        <if test="structureId !=null">
            and structure_id = #{structureId}
        </if>
    </select>


</mapper>