<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyprice.ElectricityPriceVersionCustomMapper">
    <sql id="Base_Column_List">
        id, version_id, version_name, province_code, province, city_code, city, district_code,
        district, tenant_id, tenant_name, system_code, system_name, equipment_id, equipment_name,
        start_date, end_date, price_type, bind_type, state, creator, updator, create_time,
        update_time, last_version_id
    </sql>
    <update id="updateElectricityPriceVersionCondition">
        update electricity_price_version
        set
         <if test="versionName!=null">
             version_name = #{versionName,jdbcType=VARCHAR},
         </if>
         <if test="updator!=null">
             updator = #{updator,jdbcType=VARCHAR},
         </if>
         <if test="updateTime!=null">
             update_time = #{updateTime,jdbcType=TIMESTAMP},
         </if>
         <if test="afterState !=null">
             state=#{afterState}
         </if>
         <where>
             <if test="id!=null">
                 and id = #{id,jdbcType=BIGINT}
             </if>
             <if test="updator!=null">
                 and tenant_id = #{updator,jdbcType=VARCHAR}
             </if>
             <if test="state!=null">
                 and  state = #{state,jdbcType=INTEGER}
             </if>
         </where>

    </update>


    <select id="queryBeforePriceVersion" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        select
        <include refid="Base_Column_List" />
        from electricity_price_version
        where province_code=#{provinceCode} and state=0 and start_date &lt; #{startDate}
        order by start_date desc limit 1
    </select>


    <select id="countByPriceVersionExample" resultType="java.lang.Long">
        select count(*) from electricity_price_version
        <where>
            <if test="versionId != null">
                and version_id = #{versionId,jdbcType=VARCHAR}
            </if>
            <if test="provinceCode != null">
                and  province_code = #{provinceCode,jdbcType=VARCHAR}
            </if>
            <if test="cityCode != null">
                and city_code = #{cityCode,jdbcType=VARCHAR}
            </if>
            <if test="districtCode != null">
                and district_code = #{districtCode,jdbcType=VARCHAR}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId,jdbcType=VARCHAR}
            </if>
            <if test="systemCode != null">
                and system_code = #{systemCode,jdbcType=VARCHAR}
            </if>
            <if test="equipmentId != null">
                and equipment_id = #{equipmentId,jdbcType=VARCHAR}
            </if>
            <if test="startDate != null">
                and start_date = #{startDate,jdbcType=DATE}
            </if>
            <if test="endDate != null">
                and end_date = #{endDate,jdbcType=DATE}
            </if>
            <if test="priceType != null">
                and price_type = #{priceType,jdbcType=VARCHAR}
            </if>
            <if test="bindType != null">
                and bind_type = #{bindType,jdbcType=VARCHAR}
            </if>
            <if test="state != null">
                and state = #{state,jdbcType=INTEGER}
            </if>
            <if test="lastVersionId != null">
                and last_version_id = #{lastVersionId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryPriceVersionList" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        select
        <include refid="Base_Column_List" />
        from electricity_price_version
        <where>
            <if test="provinceCode!=null">
                and province_code=#{provinceCode}
            </if>
            <if test="state!=null">
                and state=#{state}
            </if>
        </where>
                order by create_time asc
    </select>

    <select id="queryStructuresByCondition" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        select
        s.id, s.structure_id, s.structure_name, s.province_code, s.city_codes, s.district_codes, s.state,
        s.parentId, s.version_id, s.creator, s.updator, s.create_time, s.update_time
        from electricity_price_structure s
        left join electricity_price_version v
        on s.version_id = v.version_id and v.state = 0
        where v.province_code = #{provinceCode} and end_date = #{endDate,jdbcType=DATE}
        and s.state = 0
    </select>

    <select id="queryPriceVersionByCondition" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        select
        <include refid="Base_Column_List" />
        from electricity_price_version
        <where>
            <if test="versionId != null">
                and version_id = #{versionId,jdbcType=VARCHAR}
            </if>
            <if test="provinceCode != null">
                and  province_code = #{provinceCode,jdbcType=VARCHAR}
            </if>
            <if test="startDate != null">
                and start_date = #{startDate,jdbcType=DATE}
            </if>
            <if test="endDate != null">
                and end_date = #{endDate,jdbcType=DATE}
            </if>
            <if test="state != null">
                and state = #{state,jdbcType=INTEGER}
            </if>
            <if test="lastVersionId != null">
                and last_version_id = #{lastVersionId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryNextPriceVersion" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        select
        <include refid="Base_Column_List" />
        from electricity_price_version
        where province_code=#{provinceCode} and state=0 and start_date > #{startDate}
        order by start_date asc limit 1
    </select>
</mapper>