<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyprice.ElectricityPriceSeasonSectionCustomMapper">
    <sql id="Base_Column_List">
        id, structure_id, structure_rule_id, season_section_id, season_section_name, sea_start_date,
        sea_end_date, state, create_time, update_time
    </sql>
    <update id="batchDeleteSeasonSectionBySectionIds">
        update electricity_season_section
        set state=#{state}, update_time=#{updateTime}
        where season_section_id in
        <foreach collection="seasonSectionIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <update id="batchDeleteSeasonSectionByIds">
        update electricity_season_section
        set state=#{state}, update_time=#{updateTime}
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <update id="batchUpdateSeason">
        update electricity_season_section
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="sea_start_date=case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.seaStartDate != null and i.seaStartDate != ''">
                        when id=#{i.id} then #{i.seaStartDate}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sea_end_date=case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.seaEndDate != null">
                        when id=#{i.id} then #{i.seaEndDate}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.updateTime != null">
                        when id=#{i.id} then #{i.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" separator="," open="(" close=")" item="i" index="index" >
            #{i.id}
        </foreach>
        and state=0
    </update>

    <select id="querySeasonSectionListBySeasonSectionId"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricitySeasonSection">
        select
        <include refid="Base_Column_List" />
        from electricity_season_section
        where season_section_id=#{seasonSectionId} and state=0
    </select>
    <select id="querySeasonSectionIdsByStructureRuleIds"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricitySeasonSection">
        select
        <include refid="Base_Column_List" />
        from electricity_season_section
        where state=0 and  structure_rule_id in
        <foreach collection="structureRuleIds" item="structureRuleId" open="(" close=")" separator=",">
            #{structureRuleId}
        </foreach>
    </select>
    <select id="querySeasonSectionListByStructureRuleId"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricitySeasonSection">
        select
        <include refid="Base_Column_List" />
        from electricity_season_section
        where state = 0
        and  structure_rule_id = #{structureRuleId}
    </select>
</mapper>