<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyprice.ElectricityPriceStructureCustomMapper">

    <resultMap id="BaseResultMap" type="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="structure_id" jdbcType="VARCHAR" property="structureId"/>
        <result column="structure_name" jdbcType="VARCHAR" property="structureName"/>
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
        <result column="city_codes" jdbcType="VARCHAR" property="cityCodes"/>
        <result column="district_codes" jdbcType="VARCHAR" property="districtCodes"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="parentId" jdbcType="VARCHAR" property="parentid"/>
        <result column="version_id" jdbcType="VARCHAR" property="versionId"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="updator" jdbcType="VARCHAR" property="updator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, structure_id, structure_name, province_code, city_codes, district_codes, state,
        parentId, version_id, creator, updator, create_time, update_time
    </sql>


    <select id="batchQueryStructureListByIds"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        select
        <include refid="Base_Column_List" />
        from electricity_price_structure
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="selectElectricityPriceStructureByParams"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        select
        <include refid="Base_Column_List"/>
        from electricity_price_structure
        <include refid="Select_By_Map"/>
    </select>

    <select id="queryListByConditions" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        select
        <include refid="Base_Column_List" />
        from electricity_price_structure
        <where>
            <if test="state!=null">
                and state=#{state}
            </if>
            <if test="versionId != null">
                and version_id = #{versionId}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="structureId!=null">
                and structure_id=#{structureId}
            </if>
        </where>

    </select>
    <select id="selectByPrimaryKey" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        select
        <include refid="Base_Column_List" />
        from electricity_price_structure
        where structure_id = #{structureId}
        and state = 0
    </select>

    <sql id="Select_By_Map">
        <where>
            <if test="structureId != null">
                and structure_id = #{structureId}
            </if>
            <if test="versionId != null">
                and version_id = #{versionId}
            </if>
            <if test="provinceCode != null">
                and province_code = #{provinceCode}
            </if>
            <if test="cityCodes != null">
                and city_codes = #{cityCodes}
            </if>
            <if test="districtCodes != null">
                and district_codes = #{districtCodes}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </sql>

    <update id="updateByStructureId" parameterType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        update electricity_price_structure
        <set>
            <if test="structureName != null">
                structure_name=#{structureName},
            </if>
            <if test="provinceCode != null">
                province_code=#{provinceCode},
            </if>
            <if test="cityCodes != null">
                city_codes=#{cityCodes},
            </if>
            <if test="districtCodes != null">
                district_codes=#{districtCodes},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
            <if test="parentid != null">
                parentId=#{parentid},
            </if>
            <if test="versionId != null">
                version_id=#{versionId},
            </if>
            <if test="creator != null">
                creator=#{creator},
            </if>
            <if test="updator != null">
                updator=#{updator},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
        </set>
        <where>
            state = 0
            <if test="structureId!=null">
                and structure_id = #{structureId}
            </if>
        </where>

    </update>
</mapper>