<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyprice.ElectricityPriceEquipmentCustomMapper">
    <sql id="Base_Column_List">
        id, equipment_id, equipment_name, rule_id, version_id, tenant_id, tenant_name, structure_id,
        structure_rule_id, system_code, adjust, state, creator, updator, create_time, update_time
    </sql>
    <update id="deleteEquipmentBindingByVersionId">
        update electricity_price_equipment set state=1 where version_id=#{versionId} and state=0
    </update>



    <update id="batchDeleteEquipmentBindingByConditions">
        update electricity_price_equipment
        <set>
            <if test="state != null ">
                state=#{state},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
        </set>
        where rule_id in
        <foreach collection="ruleIds" separator="," open="(" close=")" item="ruleId" index="index" >
            #{ruleId}
        </foreach>
        and state=0
    </update>

    <select id="queryEquipmentBinding" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceEquipment">
        select
        <include refid="Base_Column_List" />
        from electricity_price_equipment where version_id=#{versionId} and state=0
    </select>
    <select id="queryEquipmentBindingByStructureId"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceEquipment">
        select
        <include refid="Base_Column_List" />
        from electricity_price_equipment where structure_id = #{structureId} and state=0
    </select>
    <select id="countRuleEquipmentBindRecordsById" resultType="java.lang.Long">
        select count(*)
        from electricity_price_equipment
        where id = #{id}
          and   state = 0
    </select>

    <select id="listRuleEquipmentBindRecords" parameterType="com.enn.energy.price.dal.po.mbg.ElectricityPriceEquipment" resultType="com.enn.energy.price.dal.po.view.ElectricityPriceEquipmentView">
        select
        epe.id, epe.equipment_id, epe.equipment_name, epe.rule_id, epe.version_id, epe.tenant_id,
        epe.tenant_name, epe.structure_id, epe.structure_rule_id, epe.system_code, epe.adjust, epe.state,
        epe.creator, epe.updator, epe.create_time, epe.update_time, epr.industry, epr.strategy, epr.voltage_level
        from electricity_price_equipment epe
        left join electricity_price_rule epr
        on epe.rule_id = epr.rule_id
        <where>
            <if test="tenantId != null">
                and epe.tenant_id = #{versionId}
            </if>
            <if test="versionId != null">
                and epe.version_id = #{versionId}
            </if>
            <if test="state != null">
                and epe.state = #{state}
            </if>
        </where>
    </select>

    <select id="listRuleEquipmentBindRecordsByRuleIdList" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceEquipment">
        select
        epe.id,  epe.rule_id, epe.version_id, epe.tenant_id,
        epe.structure_id, epe.structure_rule_id
        from electricity_price_equipment epe
        where epe.rule_id in
        <foreach item="item" collection="list" separator="," close=")" open="(">
            #{item}
        </foreach>
        and state = 0
    </select>

</mapper>