<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyprice.ElectricityPriceRuleCustomMapper">
    <resultMap id="BaseResultMap" type="com.enn.energy.price.dal.po.mbg.ElectricityPriceRule">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="rule_id" jdbcType="VARCHAR" property="ruleId" />
        <result column="version_id" jdbcType="VARCHAR" property="versionId" />
        <result column="structure_id" jdbcType="VARCHAR" property="structureId" />
        <result column="structure_rule_id" jdbcType="VARCHAR" property="structureRuleId" />
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
        <result column="tenant_name" jdbcType="VARCHAR" property="tenantName" />
        <result column="industry" jdbcType="VARCHAR" property="industry" />
        <result column="strategy" jdbcType="VARCHAR" property="strategy" />
        <result column="voltage_level" jdbcType="VARCHAR" property="voltageLevel" />
        <result column="transformer_capacity_price" jdbcType="VARCHAR" property="transformerCapacityPrice" />
        <result column="max_capacity_price" jdbcType="VARCHAR" property="maxCapacityPrice" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, rule_id, version_id,structure_id,structure_rule_id, tenant_id, tenant_name, industry, strategy, voltage_level,
        transformer_capacity_price, max_capacity_price, state, create_time, update_time
    </sql>

    <sql id="Select_By_Map">
        <where>
            <if test="ruleId != null">
                and rule_id = #{ruleId}
            </if>
            <if test="versionId != null">
                and version_id = #{versionId}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </sql>

    <select id="selectRulesByRuleIdList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from electricity_price_rule where rule_id in
        <foreach item="item" collection="list" separator="," close=")" open="(">
            #{item}
        </foreach>
        and state = 0
    </select>

    <update id="bacthDeletePriceRuleByRuleIds">
        update electricity_price_rule set state=1 WHERE id IN
        <foreach collection="ruleIds" item="ruleId" open="(" close=")" separator=",">
            #{ruleId}
        </foreach>
    </update>

    <select id="queryRuleListByStructureId" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceRule">
        select
        <include refid="Base_Column_List" />
        from electricity_price_rule
        where structure_id = #{structureId}
    </select>
</mapper>