<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyprice.ElectricityPriceSeasonSectionExtMapper">
    <sql id="Base_Column_List">
        id, structure_id, structure_rule_id, season_section_id, season_section_name, sea_start_date,
        sea_end_date, state, create_time, update_time
    </sql>

    <select id="selectSeasonSectionListBySeasonSectionId"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricitySeasonSection">
        select
        <include refid="Base_Column_List" />
        from electricity_season_section
        where season_section_id=#{seasonSectionId}
    </select>
</mapper>