<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyprice.ElectricityPriceVersionCustomMapper">
    <sql id="Base_Column_List">
        id, version_id, version_name, province_code, province, city_code, city, district_code,
        district, tenant_id, tenant_name, system_code, system_name, equipment_id, equipment_name,
        start_date, end_date, price_type, bind_type, state, creator, updator, create_time,
        update_time, last_version_id
    </sql>

    <update id="updateElectricityPriceVersionById">
        update electricity_price_version set
        version_name = #{versionName,jdbcType=VARCHAR},
        updator = #{updator,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        where tenant_id = #{updator,jdbcType=VARCHAR}
        and  state = #{state,jdbcType=INTEGER}
        and  id = #{id,jdbcType=BIGINT}
    </update>

    <select id="queryBeforePriceVersion" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        select
        <include refid="Base_Column_List" />
        from electricity_price_version
        where province_code=#{provinceCode} and state=0 and start_date &lt; #{startDate}
        order by start_date desc limit 1
    </select>


    <select id="countByPriceVersionExample" resultType="java.lang.Long">
        select count(*) from electricity_price_version
        <where>
            <if test="versionId != null">
                and version_id = #{versionId,jdbcType=VARCHAR}
            </if>
            <if test="versionName != null">
                and  version_name = #{versionName,jdbcType=VARCHAR}
            </if>
            <if test="provinceCode != null">
                and  province_code = #{provinceCode,jdbcType=VARCHAR}
            </if>
            <if test="province != null">
                and province = #{province,jdbcType=VARCHAR}
            </if>
            <if test="cityCode != null">
                and city_code = #{cityCode,jdbcType=VARCHAR}
            </if>
            <if test="city != null">
                and city = #{city,jdbcType=VARCHAR}
            </if>
            <if test="districtCode != null">
                and district_code = #{districtCode,jdbcType=VARCHAR}
            </if>
            <if test="district != null">
                and district = #{district,jdbcType=VARCHAR}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId,jdbcType=VARCHAR}
            </if>
            <if test="tenantName != null">
                and tenant_name = #{tenantName,jdbcType=VARCHAR}
            </if>
            <if test="systemCode != null">
                and system_code = #{systemCode,jdbcType=VARCHAR}
            </if>
            <if test="systemName != null">
                and system_name = #{systemName,jdbcType=VARCHAR}
            </if>
            <if test="equipmentId != null">
                and equipment_id = #{equipmentId,jdbcType=VARCHAR}
            </if>
            <if test="equipmentName != null">
                and equipment_name = #{equipmentName,jdbcType=VARCHAR}
            </if>
            <if test="startDate != null">
                and start_date = #{startDate,jdbcType=DATE}
            </if>
            <if test="endDate != null">
                and end_date = #{endDate,jdbcType=DATE}
            </if>
            <if test="priceType != null">
                and price_type = #{priceType,jdbcType=VARCHAR}
            </if>
            <if test="bindType != null">
                and bind_type = #{bindType,jdbcType=VARCHAR}
            </if>
            <if test="state != null">
                and state = #{state,jdbcType=INTEGER}
            </if>
            <if test="creator != null">
                and creator = #{creator,jdbcType=VARCHAR}
            </if>
            <if test="updator != null">
                and updator = #{updator,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="lastVersionId != null">
                and last_version_id = #{lastVersionId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryPriceVersionList" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        select
        <include refid="Base_Column_List" />
        from electricity_price_version
        where province_code=#{provinceCode} and state=#{state} order by create_time asc
    </select>

    <select id="queryStructuresByCondition" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        select
        <include refid="Base_Column_List" />
        from electricity_price_structure s
        left join electricity_price_version v
        on s.version_id = v.version_id and v.state = 0
        where v.province_code = #{provinceCode} and end_date = #{endDate}
        and s.state = 0
    </select>

    <select id="queryPriceVersionByCondition" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        select
        <include refid="Base_Column_List" />
        from electricity_price_version
        <where>
            <if test="versionId != null">
                and version_id = #{versionId,jdbcType=VARCHAR}
            </if>
            <if test="provinceCode != null">
                and  province_code = #{provinceCode,jdbcType=VARCHAR}
            </if>
            <if test="startDate != null">
                and start_date = #{startDate,jdbcType=DATE}
            </if>
            <if test="endDate != null">
                and end_date = #{endDate,jdbcType=DATE}
            </if>
            <if test="state != null">
                and state = #{state,jdbcType=INTEGER}
            </if>
            <if test="lastVersionId != null">
                and last_version_id = #{lastVersionId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryNextPriceVersion" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        select
        <include refid="Base_Column_List" />
        from electricity_price_version
        where province_code=#{provinceCode} and state=0 and start_date > #{startDate}
        order by start_date asc limit 1
    </select>
</mapper>