<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyprice.ElectricityPriceStructureExtMapper">
    <sql id="Base_Column_List">
        id, structure_id, structure_name, province_code, city_codes, district_codes, state,
        parentId, version_id, creator, updator, create_time, update_time
    </sql>

    <select id="queryListByVersionId" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        select
        <include refid="Base_Column_List" />
        from electricity_price_structure
        where version_id = #{versionId} and state=0


    </select>
    <select id="batchQueryStructureListByIds"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        select
        <include refid="Base_Column_List" />
        from electricity_price_structure
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>



    <update id="updateByPrimaryKey" parameterType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        update electricity_price_structure
        set
        structure_name = #{structureName,jdbcType=VARCHAR},
        province_code = #{provinceCode,jdbcType=VARCHAR},
        city_codes = #{cityCodes,jdbcType=VARCHAR},
        district_codes = #{districtCodes,jdbcType=VARCHAR},
        updator = #{updator,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT} and  state = #{state,jdbcType=TINYINT},
    </update>
</mapper>