<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyPrice.ElectricityPriceStructureMapper">
    <sql id="Base_Column_List">
        id, structure_id, structure_name, province_code, city_codes, district_codes, state,
        parentId, version_id, creator, updator, create_time, update_time
    </sql>

    <select id="queryListByVersionId" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        select
        <include refid="Base_Column_List" />
        from electricity_price_structure
        where version_id = #{versionId}


    </select>
    <select id="batchQueryStructureListByIds"
            resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceStructure">
        select
        <include refid="Base_Column_List" />
        from electricity_price_structure
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>