<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.price.dal.mapper.ext.proxyprice.ProxyElectricityPriceVersionExtMapper">
    <sql id="Base_Column_List">
        id, version_id, version_name, province_code, province, city_code, city, district_code,
        district, tenant_id, tenant_name, system_code, system_name, equipment_id, equipment_name,
        start_date, end_date, price_type, bind_type, state, creator, updator, create_time,
        update_time, last_version_id
    </sql>

    <update id="updateElectricityPriceVersionById">
        update electricity_price_version set
        version_name = #{versionName,jdbcType=VARCHAR},
        updator = #{updator,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        where tenant_id = #{updator,jdbcType=VARCHAR}
        and  state = #{state,jdbcType=INTEGER}
        and  id = #{id,jdbcType=BIGINT}
    </update>



    <select id="queryBeforePriceVersion" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        select
        <include refid="Base_Column_List" />
        from electricity_price_version
        where province_code=#{provinceCode} and state=0 and start_date &lt; #{startDate}
        order by start_date desc limit 1
    </select>
    <select id="queryPriceVersionList" resultType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        select
        <include refid="Base_Column_List" />
        from electricity_price_version
        where province_code=#{provinceCode} and state=0 order by create_time asc
    </select>
</mapper>