<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.price.dal.mapper.ext.ElectricityPriceVersionExtMapper">
    <resultMap id="BaseResultMap" type="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="version_id" jdbcType="VARCHAR" property="versionId" />
        <result column="version_name" jdbcType="VARCHAR" property="versionName" />
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="district_code" jdbcType="VARCHAR" property="districtCode" />
        <result column="district" jdbcType="VARCHAR" property="district" />
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
        <result column="tenant_name" jdbcType="VARCHAR" property="tenantName" />
        <result column="system_code" jdbcType="VARCHAR" property="systemCode" />
        <result column="system_name" jdbcType="VARCHAR" property="systemName" />
        <result column="equipment_id" jdbcType="VARCHAR" property="equipmentId" />
        <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
        <result column="start_date" jdbcType="DATE" property="startDate" />
        <result column="end_date" jdbcType="DATE" property="endDate" />
        <result column="price_type" jdbcType="VARCHAR" property="priceType" />
        <result column="bind_type" jdbcType="VARCHAR" property="bindType" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="last_version_id" jdbcType="VARCHAR" property="lastVersionId" />
    </resultMap>
    <sql id="Base_Column_List">
        id, version_id, version_name, province_code, province, city_code, city, district_code,
        district, tenant_id, tenant_name, system_code, system_name, equipment_id, equipment_name,
        start_date, end_date, price_type, bind_type, state, create_time, update_time, last_version_id
    </sql>

    <sql id="Select_By_Map">
        <where>
            <if test="versionId != null">
                and version_id = #{versionId}
            </if>
            <if test="versionIds != null">
                and version_id in
                <foreach item="item" index="index" collection="versionIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="systemCode != null">
                and system_code = #{systemCode}
            </if>
            <if test="equipmentId != null">
                and equipment_id = #{equipmentId}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </sql>

    <select id="selectByVersionId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from electricity_price_version
        where version_id = #{versionId,jdbcType=VARCHAR}
        and state = 0
    </select>

    <update id="updatePriceVersionState" parameterType="java.lang.String">
        update electricity_price_version
        set state = 1,
        update_time = NOW()
        where version_id = #{versionId,jdbcType=VARCHAR}
    </update>

    <update id="updatePriceVersion" parameterType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        update electricity_price_version
        <set>
            <if test="versionName != null">
                version_name = #{versionName,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                province_code = #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="districtCode != null">
                district_code = #{districtCode,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                district = #{district,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=DATE},
            </if>
            <if test="priceType != null">
                price_type = #{priceType,jdbcType=VARCHAR},
            </if>
            <if test="bindType != null">
                bind_type = #{bindType,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where version_id = #{versionId,jdbcType=VARCHAR}
    </update>


    <update id="batchUpdatePriceVersion"  parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update electricity_price_version
            <set>
                <if test="item.state != null">
                    state = #{item.state,jdbcType=INTEGER},
                </if>
                <if test="item.startDate != null">
                    start_date = #{item.startDate,jdbcType=DATE},
                </if>
                <if test="item.endDate != null">
                    end_date = #{item.endDate,jdbcType=DATE},
                </if>
                <if test="item.updateTime != null">
                    update_time = #{item.updateTime,jdbcType=TIMESTAMP},
                </if>
            </set>
            where version_id = #{item.versionId,jdbcType=VARCHAR}
        </foreach>
    </update>


    <insert id="addElectricityPriceVersion" parameterType="com.enn.energy.price.dal.po.mbg.ElectricityPriceVersion">
        insert into electricity_price_version (version_id, version_name, province_code,
                                               province, city_code, city,
                                               district_code, district,
                                               system_code, system_name, tenant_id,
                                               tenant_name, equipment_id, equipment_name,
                                               start_date, end_date, price_type,
                                               bind_type, state, create_time,
                                               update_time, last_version_id)
        values (#{versionId,jdbcType=VARCHAR}, #{versionName,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR},
                #{province,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
                #{districtCode,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR},
                #{systemCode,jdbcType=VARCHAR}, #{systemName,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR},
                #{tenantName,jdbcType=VARCHAR}, #{equipmentId,jdbcType=VARCHAR}, #{equipmentName,jdbcType=VARCHAR},
                #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{priceType,jdbcType=VARCHAR},
                #{bindType,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{lastVersionId,jdbcType=VARCHAR})
    </insert>

    <insert id="batchAddElectricityPriceVersion" parameterType="java.util.List">
        insert into electricity_price_version (version_id, version_name, province_code,
        province, city_code, city,
        district_code, district,
        system_code, system_name, tenant_id,
        tenant_name, equipment_id, equipment_name,
        start_date, end_date, price_type,
        bind_type, state, create_time,
        update_time, last_version_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.versionId,jdbcType=VARCHAR}, #{item.versionName,jdbcType=VARCHAR}, #{item.provinceCode,jdbcType=VARCHAR},
            #{item.province,jdbcType=VARCHAR}, #{item.cityCode,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR},
            #{item.districtCode,jdbcType=VARCHAR}, #{item.district,jdbcType=VARCHAR},
            #{item.systemCode,jdbcType=VARCHAR}, #{item.systemName,jdbcType=VARCHAR}, #{item.tenantId,jdbcType=VARCHAR},
            #{item.tenantName,jdbcType=VARCHAR}, #{item.equipmentId,jdbcType=VARCHAR}, #{item.equipmentName,jdbcType=VARCHAR},
            #{item.startDate,jdbcType=DATE}, #{item.endDate,jdbcType=DATE}, #{item.priceType,jdbcType=VARCHAR},
            #{item.bindType,jdbcType=VARCHAR}, #{item.state,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}, #{item.lastVersionId,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="selectByVersionIds" resultMap="BaseResultMap">
        SELECT version_id, version_name, province_code, province, city_code, city, district_code,
        district, system_code, system_name, tenant_id, tenant_name, equipment_id, equipment_name,
        start_date, end_date, price_type, bind_type, state, create_time, update_time, last_version_id from
        electricity_price_version
        WHERE version_id in
        <foreach collection="list" index="index" item="versionId" open="(" separator="," close=")">
            #{versionId}
        </foreach>
        and state = 0
        and end_date> CURDATE()
    </select>

    <select id="selectVersionByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from electricity_price_version
        <include refid="Select_By_Map"></include>
    </select>
    <select id="selectEquVersionsByCondition" resultMap="BaseResultMap">
        select ver.version_id,ver.version_name,ver.start_date,ver.end_date from electricity_price_version ver
        left join electricity_price_equipment equ on equ.version_id = ver.version_id
        where equ.equipment_id = #{equipmentId} and equ.system_code = #{systemCode} and ver.state = #{state}
            and (#{versionId} is null or ver.version_id = #{versionId})
        order by ver.start_date desc
    </select>
    <select id="selectNearestVersion" resultType="com.enn.energy.price.dal.po.view.ElectricityPriceEquVersionView">
        select version_id, start_date from electricity_price_version
        where equipment_id = #{equipmentId} and system_code = #{systemCode} and start_date &lt;= #{startDate} and end_date >= #{startDate}
                and state = #{state}
    </select>

</mapper>