<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.price.dal.mapper.ext.ElectricityPriceSeasonExtMapper">
  <resultMap id="BaseResultMap" type="com.enn.energy.price.dal.po.mbg.ElectricityPriceSeason">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="season_id" jdbcType="VARCHAR" property="seasonId" />
    <result column="rule_id" jdbcType="VARCHAR" property="ruleId" />
    <result column="version_id" jdbcType="VARCHAR" property="versionId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="tenant_name" jdbcType="VARCHAR" property="tenantName" />
    <result column="season" jdbcType="VARCHAR" property="season" />
    <result column="sea_start_date" jdbcType="VARCHAR" property="seaStartDate" />
    <result column="sea_end_date" jdbcType="VARCHAR" property="seaEndDate" />
    <result column="pricing_method" jdbcType="VARCHAR" property="pricingMethod" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, season_id, rule_id, version_id, tenant_id, tenant_name, season, sea_start_date,
    sea_end_date, pricing_method, state, create_time, update_time
  </sql>

  <sql id="Select_By_Map">
    <where>
      <if test="seasonId != null">
        and season_id = #{seasonId}
      </if>
      <if test="ruleId != null">
        and rule_id = #{ruleId}
      </if>
      <if test="versionId != null">
        and version_id = #{versionId}
      </if>
      <if test="seasonIds != null">
        and season_id in
        <foreach item="item" index="index" collection="seasonIds" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="state != null">
        and state = #{state}
      </if>
      <if test="seaStartDate != null">
        and sea_start_date &lt;= #{seaStartDate}
      </if>
      <if test="seaEndDate != null">
        and sea_end_date &gt;= #{seaEndDate}
      </if>
    </where>
  </sql>

  <insert id="batchAddElectricityPriceSeason" parameterType="java.util.List">
    insert into electricity_price_season (season_id, rule_id, version_id, tenant_id, tenant_name,
    season, sea_start_date, sea_end_date,
    pricing_method, state, create_time,
    update_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
     (#{item.seasonId,jdbcType=VARCHAR}, #{item.ruleId,jdbcType=VARCHAR}, #{item.versionId,jdbcType=VARCHAR},
      #{item.tenantId,jdbcType=VARCHAR},#{item.tenantName,jdbcType=VARCHAR},
      #{item.season,jdbcType=VARCHAR}, #{item.seaStartDate,jdbcType=DATE}, #{item.seaEndDate,jdbcType=DATE},
      #{item.pricingMethod,jdbcType=VARCHAR}, #{item.state,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

    <select id="selectSeasonByCondition" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from electricity_price_season
      <include refid="Select_By_Map"/>
    </select>

  <select id="selectSeasonGroupByCondition" resultType="java.lang.String">
      select season
      from electricity_price_season
      <include refid="Select_By_Map"/>
      group by season
      ORDER BY create_time
  </select>

  <update id="updateSeasonStateByVersionId">
    update electricity_price_season
    set state = 1,
    update_time = NOW()
    where version_id = #{versionId,jdbcType=VARCHAR}
  </update>
</mapper>